NET "sysClk_in"  LOC = "T9"  | IOSTANDARD=LVTTL;

NET "sw_in<0>"   LOC = "F12" | IOSTANDARD=LVTTL;
NET "sw_in<1>"   LOC = "G12" | IOSTANDARD=LVTTL;
NET "sw_in<2>"   LOC = "H14" | IOSTANDARD=LVTTL;

NET "vSync_out"  LOC = "T10" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET "hSync_out"  LOC = "R9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET "rgb_out<0>" LOC = "R12" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET "rgb_out<1>" LOC = "T12" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET "rgb_out<2>" LOC = "R11" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;

NET "sysClk_in" TNM_NET = "sysClk_in";
TIMESPEC "TS_clk" = PERIOD "sysClk_in" 20 ns HIGH 50 %;
